* { 
    margin: 0;
    padding: 0; 
    box-sizing: border-box; 
    text-decoration: none; 
}
 html { 
    font-size: 100%; 
} 
body { 
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    line-height: 1.5; 
    margin: 0%; 
    color: #333; 
    font-size: clamp(10px, 1.3vw, 40px); 
    background: #f4f6f8; 
} 
/* HEADER */ 
/* NAVBAR */ 
.navbar { 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 0.1rem 1rem; 
    background-image: url( images/4579.jpg); 
    position: sticky; 
    top: 0; 
    z-index: 1000; 
} 
.navbar img{ 
    height: 1.7rem; 
} 
.navlinks{
    padding: .4rem;
    background-image: url(images/4579.jpg); 

}
.navlinks a{
    color: #fff;
    padding-left: .7rem;
}
.menu-toggle { 
    display: none; 
    font-size: 1.6rem; 
    color: white; 
    position: relative;
    cursor: pointer; 
}
.hero { 
    background: #11224d; 
    color: white; 
    text-align: center; 
    justify-content: space-evenly; 
    display: flex; 
    padding: clamp(3rem, 4.6vw, 6rem) 3rem; 
    background-image: url(images/3635065.jpg); 
    background-size: 100%; 
    background-repeat: no-repeat; 
} 
.hero .left img{ 
    height: 10rem; 
}
.hero h1 {
     font-size: clamp(2rem, 4vw, 3.5rem); 
     font-weight:bold; 
     font-family:'Times New Roman', Times, serif; 
} 
.hero h4 { 
    margin-top: 10px; 
    font-weight: 600; 
    font-size: clamp(1rem, 1.5vw, 2rem); 
}
 .hero p { 
    max-width: 500px; 
    margin: 20px auto; 
   font-size: .9rem;
} 
.buttons { 
    margin-top: 40px; 
} 
.btn{ 
    padding: 12px 25px; 
    background: white; 
    color: #0a2540; 
    text-decoration: none; 
    border-radius: 5px; 
    margin: 5px; 
    font-weight: 500; 
}
.btn:hover { 
    background: transparent; 
    color: white; 
    border: 1px solid white; 
}
.hero .right img{ 
    max-height: 425px; 
    width: auto; 
    padding-top: 2rem; 
    border-radius:25%; 
}
.ticker { 
    background-image: url(images/4579.jpg); 
    overflow: hidden; 
    white-space: nowrap; 
}
.ticker p { 
    display: inline-block; 
    padding: 0.7rem 0; 
    color: white; 
    font-size: .9rem; 
    font-weight: 500; 
    animation: scroll-text 20s linear infinite; 
}
@keyframes scroll-text { 
    from {
         transform: translateX(210%); 
    } 
    to { 
        transform: translateX(-100%); 
    } 
}
/* SECTIONS */
 /* ABOUT */ 
 .section { 
    margin: auto; 
    padding: clamp(2rem, 2vw, 4rem); 
}
.section h2 { 
    margin-bottom: 1.5rem; 
    margin-top: 0;
    color: #0a2540; 
    text-align: center; 
    font-size: 2rem; 
}
.section.light { 
    background: white; 
    border-radius: 10px; 
    margin-top: 30px; 
} 
.flex{ 
    display: flex; 
    justify-content: space-evenly; 
}
.flex .right{ 
    padding: 2rem 7rem 0rem; 
} 
.flex .right p{ 
    padding-top: .7rem; 
}
#about{
    font-size: 1rem;
}
#about img{ 
    height: 25rem; 
    margin-top: 2rem; 
    border-radius: 10% 0%;
    margin-right: 3rem; 
} 
.breathing-img:hover { 
    animation: breathing 4s ease-in-out infinite; 
} 
@keyframes breathing { 
    0% { transform: scale(1); 
        opacity: 1; 
    } 
    50% { 
        transform: scale(1.1); 
        opacity: 0.9; 
    } 
    100% { 
        transform: scale(1); 
        opacity: 1; 
    } 
} 
/* SKILLS */ 
.grid{ 
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(30rem,1rem)); 
    gap: 5rem;
} 
.glid .flex{ 
    justify-content: space-evenly; 
} 
.card { 
    background: #f9fafb;
    padding: 22px; 
    margin-bottom: 2rem; 
    font-size: clamp(0.9rem, 1.4vw, 1rem); 
    border-radius: 8px; 
    border-left: 4px solid #0a2540; 
    border-bottom: 4px solid #0a2540; 
} 
.glid .right{ 
    padding-left: 5rem; 
} 
.skills-icons { 
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(120px, 5fr));
    gap: 1.5rem; 
    align-items: center; 
    justify-items: center; 
    margin: 2rem; 
} 
.skills-icons img { 
    width: 70px; 
    height: 70px; 
    object-fit: contain; 
    background: #fff; 
    padding: 10px; 
    border-radius: 12px; 
    box-shadow: 0 4px 10px rgba(0,0,0,0.08); 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
} 
.skills-icons img:hover { 
    transform: translateY(-6px) scale(1.05); 
    box-shadow: 0 10px 20px rgba(0,0,0,0.15); 
} 

/* EXPERIENCE */
#experience .flex {
  gap: 2.5rem;
}

/* PROJECTS */ 
#projects{ 
    background-size: 100%; 
    padding-bottom: 0; 
    font-size: 1rem; 
} 
#projects .p2{ 
    display: flex; 
    padding-bottom: 0%; 
} 
#projects .p2 .right{ 
   width: 50%; 
   padding-top: 3rem;
   padding-right: 2rem;
} 
.project{ 
    padding-top: 1.7rem; 
} 
.slider { 
    overflow: hidden; 
    width: 55%; 
     padding:1rem 0 0 0;
} 
figure { 
    width: 100%; 
    height: 87%;
    position: relative; 
    padding: 0; 
    animation: 20s slider infinite; 
    margin:  0; 
    display: flex; 
} 
.slider figure img { 
    width: 100%; 
    height: 100%; 
    float: left; 
} 
.slide { 
    position: relative; 
    min-width: 100%; 
} 
@keyframes slider { 
    0% { 
        left: 1%; 
    } 
    20% { 
        left: 0%; 
    }
    40% { 
        left: -100%; 
    } 
     /* 60% { 
        left: -200%; 
    }  */
    /*80% { 
        left: -300%; 
    }  */
} 
/* CONTACT */ 
#contact { 
    background-image: url(images/6057555.jpg); 
    background-size: 100%; 
    color: #fff; 
    font-size: .9rem; 
} 
#contact h2{ 
    color: #fff; 
} 
#contact p{ 
    padding-left: 2rem;
}
#contact a{ 
    text-decoration: none; 
    color: aqua; 
} 
/* FOOTER */ 
footer{ 
    text-align: center; 
    padding: .01rem; 
    font-size: .9rem; 
    background-image: url(images/6057555.jpg); 
    color: white; 
} 
/* Tablets */ 
@media (max-width: 992px) { 
    .hero { 
        flex-direction: column; 
        background-size: cover; 
        padding: 1rem;
        font-size: .9rem;
    } 
    .hero .right img { 
        border-radius: 7%; 
        padding-left: 2rem; 
    } 
    .hero .left img { 
        display: none; 
    } 
    .hero .right img { 
        height: 14.5rem; 
        padding-top: 0%; 
        padding-left: 0%; 
    } 
    h2{ 
        font-size: 1.7rem; 
    } 
 
    .flex { 
        flex-direction: column; 
        padding: 0 1.5rem; 
    } 
    .flex .right { 
        padding: 0 1rem; 
    } 
    #about{ 
        justify-items: center; 
        font-size: .9rem; 
    } 
    #about img { 
        height: 19rem; 
        padding-top: 1rem; 
        padding-bottom: 0%; 
        margin: auto; 
    } 
    .grid { 
        grid-template-columns: 1fr; 
        gap: 2rem; 
    } 
    
    .card{
        text-align: center;
    }
    #projects .p2 { 
        flex-direction: column; 
        font-size: .9rem; 
    } 
    #projects .p2 .right{ 
        width: 100%; 
        padding:0% 1rem;
    } 
    .project{
        padding-top: .5rem;
    }
    .slider{
        width: 100%;
    }
    figure{
        width: 100%;
        padding-bottom: 1rem;
        padding-top: 0%;
    }
    .slider { 
        margin-top: 2rem; 
    }
    #contact,footer { 
        font-size: .9rem; 
    } 
     
} 
/* Mobile phones */ 
@media (max-width: 576px) { 
    body { 
        font-size: 15px; 
        margin: 0%; 
        padding: 0%; 
    } 
    .hero h1 { 
        font-size: 2rem; 
    } 
    .menu-toggle { 
    display: block; 
    /* background-image: url(images/ai-powered-device-concept.jpg);  */
    } 
    .menu-toggle i { 
    transition: 0.3s ease; 
    
    } 
    #closeIcon { 
    display: none; 
    } 
    .menu-toggle.active #openIcon { 
    display: none; 
    } 
    .menu-toggle.active #closeIcon { 
    display: block; 
    padding: .4rem;
    } 
    .navlinks { 
    display: none; 
    width: 35%;
    margin-left: 60%; 
    text-align: center; 
    border-bottom: #f9fafb 1px;
    font-size: smaller; 
    position: absolute;
    } 
    .navlinks.active { 
    display: block ;
    background-image: url(images/4579.jpg); 
    margin-top: 11rem;
    } 
    .navlinks a { 
    display: block;
    border-bottom: 1px solid rgba(255,255,255,0.15);
    padding-bottom: .5rem;
    } 
    .hero h1 { 
        font-size: 2rem; 
    } 
    .hero p { 
        padding: 0 1rem; 
    } 
    .hero .right img { 
        height: 14rem; 
    } 
    #about{ 
        padding: 1rem 0%; 
    } 
    .section { 
        padding: 1rem .5rem; 
    } 
    .flex .right { 
        padding: 0; 
    } 
    .card { 
        padding: 1rem; 
    } 
    .skills-icons { 
        grid-template-columns: repeat(auto-fit, minmax(15px, 5fr)); 
        gap: 1rem; 
    } 
    .skills-icons img { 
        width: 55px; 
        height: 55px; 
    } 
    #contact,footer{ 
        font-size: small; 
    } 
}
