* { 
    margin: 0;
    padding: 0; 
    box-sizing: border-box; 
    text-decoration: none; 
}
 html { 
    font-size: 100%; 
} 
body { 
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    line-height: 1.5; 
    margin: 0%; 
    color: #333; 
    font-size: clamp(10px, 1.3vw, 40px); 
    background: #f4f6f8; 
} 
/* HEADER */ 
/* NAVBAR */ 
.navbar { 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 0.1rem 1rem; 
    background-image: url(images/4579.jpg); 
    position: sticky; 
    top: 0; 
    z-index: 1000; 
} 
.navbar img{ 
    height: 1.7rem; 
} 
.navlinks{
    padding: .4rem;
}
.navlinks a{
    color: #fff;
    padding-left: .7rem;
}
.menu-toggle { 
    display: none; 
    font-size: 1.6rem; 
    color: white; 
    cursor: pointer; 
}
 /* ICON SWITCH */ 
 #closeIcon { 
    display: none; 
}
 .menu-toggle.active #openIcon { 
    display: none; 
}
 .menu-toggle.active #closeIcon { 
    display: block; 
}
 /* MOBILE DROPDOWN */ 
 .mobile-menu { 
    display: none; 
    flex-direction: column; 
    background-image: url(images/4579.jpg); 
    width: 100%; 
    position: absolute; 
    position: sticky; 
    top: 60px; 
    z-index: 999; 
} 
.mobile-menu a { 
    color: white; 
    padding: 1rem; 
    text-align: center; 
    border-top: 1px solid rgba(255,255,255,0.15); 
    font-weight: 500; 
} 
    
.mobile-menu a:hover { 
    background: rgba(255,255,255,0.1); 
} 
/* ACTIVE STATE */
.mobile-menu.active { 
    display: flex; 
}
.hero { 
    background: #11224d; 
    color: white; 
    text-align: center; 
    justify-content: space-evenly; 
    display: flex; 
    padding: clamp(3rem, 4.6vw, 6rem) 3rem; 
    background-image: url(images/4579.jpg); 
    background-size: 100%; 
    background-repeat: no-repeat; 
} 
.hero .left img{ 
    height: 10rem; 
}
.hero h1 {
     font-size: clamp(2rem, 4vw, 3.5rem); 
     font-weight:bold; 
     font-family:'Times New Roman', Times, serif; 
} 
.hero h4 { 
    margin-top: 10px; 
    font-weight: 600; 
    font-size: clamp(1rem, 1.5vw, 2rem); 
}
 .hero p { 
    max-width: 500px; 
    margin: 20px auto; 
    font-size: .9rem;
} 
.buttons { 
    margin-top: 40px; 
} 
.btn{ 
    padding: 12px 25px; 
    background: white; 
    color: #0a2540; 
    text-decoration: none; 
    border-radius: 5px; 
    margin: 5px; 
    font-weight: 500; 
}
.btn:hover { 
    background: transparent; 
    color: white; 
    border: 1px solid white; 
}
.hero .right img{ 
    max-height: 420px; 
    width: auto; 
    padding-top: 2rem; 
    border-radius:25%; 
}
.ticker { 
    background-image: url(images/4579.jpg); 
    overflow: hidden; 
    white-space: nowrap; 
}
.ticker p { 
    display: inline-block; 
    padding: 0.7rem 0; 
    color: white; 
    font-size: .9rem; 
    font-weight: 500; 
    animation: scroll-text 20s linear infinite; 
}
@keyframes scroll-text { 
    from {
         transform: translateX(210%); 
    } 
    to { 
        transform: translateX(-100%); 
    } 
}
/* SECTIONS */
 /* ABOUT */ 
 .section { 
    margin: auto; 
    padding: clamp(2rem, 5vw, 4rem); 
}
.section h2 { 
    margin-bottom: 1.5rem; 
    color: #0a2540; 
    text-align: center; 
    font-size: 2rem; 
}
.section.light { 
    background: white; 
    border-radius: 10px; 
    margin-top: 30px; 
} 
.flex{ 
    display: flex; 
    justify-content: space-evenly; 
}
.flex .right{ 
    padding: 2rem 1rem 0rem; 
    max-width: 650px; 
} 
.flex .right p{ 
    padding-top: .5rem; 
    font-size: 1rem; 
}
#about img{ 
    height: 20rem; 
    margin-top: 2rem; 
    margin-right: 5rem; 
} .breathing-img:hover { animation: breathing 4s ease-in-out infinite; } @keyframes breathing { 0% { transform: scale(1); opacity: 1; } 50% { transform: scale(1.1); opacity: 0.9; } 100% { transform: scale(1); opacity: 1; } } /* SKILLS */ .grid{ display: grid; grid-template-columns: repeat(auto-fit, minmax(30rem,1rem)); gap: 5rem; } .glid .flex{ justify-content: space-evenly; } .card { background: #f9fafb; padding: 22px; margin-bottom: 2rem; font-size: clamp(0.9rem, 1.4vw, 1rem); border-radius: 8px; border-left: 4px solid #0a2540; border-bottom: 4px solid #0a2540; } .glid .right{ padding-left: 5rem; } .skills-icons { display: grid; grid-template-columns: repeat(auto-fit, minmax(120px, 5fr)); gap: 1.5rem; align-items: center; justify-items: center; margin: 2rem; } .skills-icons img { width: 70px; height: 70px; object-fit: contain; background: #fff; padding: 10px; border-radius: 12px; box-shadow: 0 4px 10px rgba(0,0,0,0.08); transition: transform 0.3s ease, box-shadow 0.3s ease; } .skills-icons img:hover { transform: translateY(-6px) scale(1.05); box-shadow: 0 10px 20px rgba(0,0,0,0.15); } /* PROJECTS */ #projects{ background-size: 100%; padding-bottom: 0; font-size: 1rem; } #projects .p2{ display: flex; padding-bottom: 0%; } .project{ padding-top: 1.7rem; } .slider { overflow: hidden; width: 100%; } figure { width: 100%; position: relative; padding: 0; animation: 70s slider infinite; margin: 0; display: flex; } .slider figure img { width: 95%; height: 90%; float: left; } .slide { position: relative; min-width: 100%; } @keyframes slider { 0% { left: 1%; } 20% { left: 0%; } 40% { left: -100%; } 60% { left: -200%; } 80% { left: -300%; } } /* CONTACT */ #contact { background-image: url(images/6057555.jpg); background-size: 100%; color: #fff; font-size: .9rem; } #contact h2{ color: #fff; } #contact a{ text-decoration: none; color: aqua; } /* FOOTER */ footer{ text-align: center; padding: .01rem; font-size: .9rem; background-image: url(images/6057555.jpg); color: white; } /* Tablets */ @media (max-width: 992px) { .hero { flex-direction: column; background-size: cover; } .hero .right img { border-radius: 7%; padding-left: 2rem; } .hero .left img { display: none; } .hero .right img { height: 14.5rem; padding-top: 0%; padding-left: 0%; } h2{ font-size: 1.7rem; } .hero p{ font-size: 1rem; } .flex { flex-direction: column; padding: 0 4rem; } .flex .right { padding: 0 1rem; } #about{ justify-items: center; font-size: .9rem; } #about img { height: 15rem; padding-top: 2rem; padding-bottom: 0%; margin: auto; } .grid { grid-template-columns: 1fr; gap: 2rem; } .grid .right{ padding: 0%; } .right img { height: 3rem; } #projects .p2 { flex-direction: column; font-size: .9rem; } #contact,footer { font-size: .9rem; } .slider { margin-top: 2rem; } } /* Mobile phones */ @media (max-width: 576px) { body { font-size: 15px; margin: 0%; padding: 0%; } .hero h1 { font-size: 2rem; } /* .navbar { flex-direction: flex; align-items: center; } */ .menu-toggle { display: block; } /* .menu-toggle i { transition: 0.3s ease; } #closeIcon { display: none; } .menu-toggle.active #openIcon { display: none; } .menu-toggle.active #closeIcon { display: block; } .navlinks { display: none; width: 100%; text-align: center; font-size: smaller; background-image: url(images/ai-powered-device-concept.jpg); } .navlinks.active { display: flex ; } .navlinks a { display: block; } */ .hero h1 { font-size: 2rem; } .hero p { padding: 0 1rem; } .hero .right img { height: 14rem; } #about{ padding: 2rem 0%; } .section { padding: 1.5rem .5rem; } .flex .right { padding: 0; } .card { padding: 1rem; } .skills-icons { grid-template-columns: repeat(auto-fit, minmax(15px, 5fr)); gap: 1rem; } .skills-icons img { width: 55px; height: 55px; } #contact,footer{ font-size: small; } }